@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

:root {
    font-size: 62.5%;
}

body {
    font-family: Poppins, Roboto, sans-serif !important;
    font-weight: 400;
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
}

.header, .footer {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 16px;
background-color: #648ca6;
}

.v-application {
    font-family: Poppins, Roboto, sans-serif !important;
    line-height: 1.5;
}